**/build/
*.iml
*.xcodeproj/*
.DS_Store
.cxx
.externalNativeBuild
.gradle
.kotlin
captures
local.properties
xcuserdata
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!src/**/build/
**/xcshareddata/WorkspaceSettings.xcsettings
